.additional-goods {
  padding: 20px 20px 0;
}

.additional-goods__wraper {
  padding: 26px 37px 27px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 80px;
  }
}

.additional-goods__title {
  padding: 0;
  margin: 0;
  padding-bottom: 36px;
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.additional-goods__item {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  gap: 19px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr  auto auto;
    justify-content: space-between;
    gap: 25px 49px;
  }
}

.additional-goods__name {
  padding: 0;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    grid-column: 1;
    grid-row: 1;
    margin-right: auto;
    padding-left: 3px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 1;
    grid-column: 1;
    grid-row: 1;
  }
}

.additional-goods__pack {
  margin: 0;
  padding-bottom: 15px;
  grid-column: 1;
  font-size: 14px;
  line-height: 1;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    grid-column: 2;
    font-size: 14px;
    line-height: 14px;
    width: 192px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-goods__price {
  margin: 0;
  padding-bottom: 15px;
  grid-column: 2;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    grid-column: 3;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-goods__promotion {
  background-color: #68b738;
  background-image: url("../img/cat.green-2.jpg");
  background-repeat: no-repeat;
  background-size: 302px;
}

.additional-goods__promotion__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  color: #ffffff;
}

.additional-goods__button {
  padding: 10px 109px;
  min-width: 100%;
  display: block;
  grid-column: 1/-1;

  @media (min-width: @tablet-width) {
    min-width: 632px;
    grid-column: 1/-1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 4;
    min-width: 244px;
    padding: 7px 26px;
  }
}
