.address {
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 62px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    z-index: 2;
    position: absolute;
    background-color: @basic-white;
    top: 32px;
  }
}

.address__title {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: (20/16);
  text-transform: uppercase;
  color: #111111;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: (26/20);
    max-width: 211px;
    margin-right: auto;
    padding-left: 50px;
  }
}

.address__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: (20/14);

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: (20/16);
  }
}

.address__container {
  display: flex;


  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}
