.advantages {
  padding: 20px 20px 0;
}

.advantages__list {
  padding: 0;
  margin: 0;
}

.advantages__title {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: (40/36);
}

.advantages__item {
  list-style-type: none;
  padding-bottom: 26px;
  display: inline-flex;
}

.advantages__description {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}
