
.before-after__content{
  background-color: @grey-example;
  padding:25px 20px 0;

}
.before-after__title{
  padding:0;
  margin:0;
  padding-top:25px;
  padding-bottom:40px;
  font-family :@accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  }
  .before-after__description{
    padding:0;
    margin:0;
    font-family: "Arial";
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(68, 68, 68, 1);

}
.before-after-item__title{
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color:rgba(68, 68, 68, 1)

}
.before-after-item__value{
  font-family: "Oswald";
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;

}
.before-after__price{
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}
