.categories__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 71px;
    padding-top: 82px;
    gap: 0 80px;
  }
}

.categories__item {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  color: #444444;
  gap: 0 18px;
  width: 100%;
  padding: 0 20px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 200px;
    padding: 77px 62px 57px;
    gap: 24px 54px;
  }

  @media (min-width: @desktop-width) {
    gap: 22px 62px;
    grid-template-columns: 100px 1fr;
    padding: 48px 52px 58px;
  }
}

.categories__title {
  font-family: @accent-font;
  align-items: center;
  margin: 0;
  padding: 4px 2px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 2;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding-bottom: 45px;
    padding-top: 0;
    grid-column: 1;
    grid-row: 1;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column: 2;
  }
}

.categories__title::before {
  content: "";
  position: absolute;
  height: 50px;
}

.categories__title--slim::before {
  background: url("../img/icons/cat/cat-black-slim.svg");
  top: 22px;
  left: 30px;
  width: 50px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-size: 140px 194px;
    top: 100px;
    left: auto;
    right: -24px;
    width: 268px;
    height: 218px;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 97px;
    top: 40px;
    left: 66px;
    background-size: 70px 97px;
  }
}

.categories-item--muscles::before {
  content: "";
  position: absolute;
  height: 50px;
  top: 24px;
  left: 24px;
  width: 50px;
  background-color: #68b738;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    top: 90px;
    left: auto;
    right: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
    right: auto;
  }
}

.categories__title--muscles::before {
  background: url("../img/icons/cat/cat-black-pro.svg") no-repeat;
  top: 32px;
  left: 14px;
  width: 67px;

  @media (min-width: @tablet-width) {
    top: 146px;
    left: auto;
    right: 47px;
    width: 268px;
    height: 218px;
    background-size: 268px 112px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56px;
    top: 69px;
    left: 34px;
    background-size: 134px 56px;
  }
}

.categories__image {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 200px;
    height: 211px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    grid-row: 1;
    width: 100px;
    height: 106px;
  }
}

.categories-item--slim::before {
  content: "";
  position: absolute;
  height: 50px;
  top: 24px;
  left: 24px;
  width: 50px;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    top: 90px;
    left: auto;
    right: 60px;

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
      right: auto;
    }
  }
}

.categories__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  grid-column: 1/-1;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    grid-column-end: auto;
    border-bottom: none;

    @media (min-width: @desktop-width) {
      grid-column: 1/-1;
    }
  }
}

.categories__link {
  grid-column: 1/-1;
  padding: 15px 0 18px;
}

.categories__link-arrow {
  align-items: center;
  color: #000000;
  font-family: @accent-font;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
