.categories__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
}

.categories__item {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  color: #444444;
  gap: 0 18px;
  width: 100%;
  padding: 0 20px 0;
}

.categories__title {
  font-family: @accent-font;
  align-items: center;
  margin: 0;
  padding: 4px 2px;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 2;
}

.categories__image {
  grid-column: 1;
  grid-row: 1;
}

.categories__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  grid-column: 1/-1;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding-bottom: 22px;
}

.categories__link {
  grid-column: 1/-1;
  padding: 15px 0 18px;
}

.categories__link-arrow {
  align-items: center;
  color: #000000;
  font-family: @accent-font;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
