.categories__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 71px;
    padding-top: 82px;
    gap: 0 80px;
  }
}

.categories__item {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  color: #444444;
  gap: 0 18px;
  width: 100%;
  padding: 24px 20px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 200px;
    padding: 77px 62px 57px;
    gap: 24px 54px;
  }

  @media (min-width: @desktop-width) {
    gap: 22px 62px;
    grid-template-columns: 100px 1fr;
    padding: 48px 52px 58px;
  }
}

.categories__title {
  font-family: @accent-font;
  align-items: center;
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 2;


  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding-bottom: 45px;
    padding-top: 0;
    grid-column: 1;
    grid-row: 1;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column: 2;
  }
}


.categories__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  grid-column: 1/-1;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    grid-column-end: auto;
    border-bottom: none;

    @media (min-width: @desktop-width) {
      grid-column: 1/-1;
    }
  }
}

.categories__link {
  grid-column: 1/-1;
  padding: 15px 0 18px;
}

.categories__link-arrow {
  align-items: center;
  position: relative;
  display: flex;
  text-decoration: none;
}

.categories__link-arrow :active {
  color: #0000004d;
}

.categories__img {
  height: auto;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  overflow: visible;

  @media (min-width: @tablet-width) {
    grid-row: 1/4;
    grid-column: 2/3;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column: 1;
  }
}

.categories__link-img {
  width: 24px;
  height: 12px;
  margin-right: 17px;
}

.categories__link-img :hover {
  width: 32px;
  height: 18px;
}

.categories__link-text {
  color: #000000;
  font-family: @accent-font;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    padding-right: 25px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 28px;
  }
}
