.contacts {
  background-color: @basic-white;

  @media (min-width: @desktop-width) {
    position: relative;
  }


  &--darker {
    background-color: #f2f2f2;
  }
}


.contacts__map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  min-height: 362px;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }
}

.contacts__map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
