.main-header {
  position: relative;
}


.main-header__logo-link {
  height: 65px;
  margin-left: 20px;
  //width: 100%;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }


  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-header__logo-mark-link {
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  padding-bottom: 13px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}


.main-header__wrapper-index {
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  font-family: @accent-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: transparent;
    z-index: 3;
  }
}

.main-header__wrapper {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    z-index: 3;
  }
}

.main-header__block {
  display: flex;
  height: 65px;
  //width: 100%;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.main-header__logo {
  display: block;

  @media (min-width: @tablet-width) {
    width: 173px;
    height: 58px;
    padding: 0;
  }
}

.main-header__logo-mark {
  display: block;
}
