.main-header-index {
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    margin-top: 52px;
    margin-bottom: 65px;
  }
}

.main-header__logo-link {
  width: 235px;
  height: 66px;
  display: block;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 190px;
    padding: 3px 0 0;
  }
}

.logo {
  display: inline-flex;
  position: relative;
}


.page__body::before {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 697px;
    background-color: #65a93c;
    background-image: url("../img/index-background-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-size: 72% 699px;
    background-position-x: right;
  }
}
