.main-footer__wrapper-container{
  background-color: @basic-grey;

  .social__list{
    display: flex;
    list-style-type: none;

  }
  .copyright{
    display:flex;
    justify-content: space-between;

  }
}
