.program{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  .program__title {
    margin-top:27px;
    margin-bottom:25px;
    margin-left:36px;
    margin-right:35px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }
  .program__button{
    background-color: @basic-green;
    color:@basic-white;

  }

}
