@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 320px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.28571429;
}
img {
  max-width: 100%;
  object-fit: contain;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
}
.main-header__toggle {
  position: absolute;
  top: 10px;
  right: 0;
}
.program {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #68b738;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, #ffffff 302px), url(../img/index-cat.jpg);
  background-repeat: no-repeat;
  background-size: 100%, auto 302px;
  padding: 27px 20px 0;
}
.program__title {
  margin: 0 0 25px;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}
.program__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1px;
  margin: 0 0 28px;
  text-transform: uppercase;
  text-align: center;
}
.programm__link {
  margin: 0 auto;
}
.categories {
  padding: 20px 20px 0;
}
.categories__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.categories__item {
  padding-bottom: 22px;
  margin-top: 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: #f2f2f2;
}
.categories__title {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54166667;
  text-align: center;
}
.categories__description {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 23px;
  color: #444444;
}
.categories__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 19px 15px 0 19px;
}
.advantages {
  padding: 20px 20px 0;
}
.advantages__list {
  padding: 0;
  margin: 0;
}
.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11111111;
}
.advantages__item {
  list-style-type: none;
  padding-bottom: 26px;
  display: inline-flex;
}
.advantages__description {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.before-after__content {
  background-color: #EAEAEA;
  padding: 25px 20px 0;
}
.before-after__title {
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
.before-after__description {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.before-after-item__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}
.before-after-item__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.before-after__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.contacts {
  background-color: #ffffff;
}
.contacts--darker {
  background-color: #f2f2f2;
}
.contacts__wrapper {
  padding: 26px 20px;
}
.address__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}
.address__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857143;
}
.main-footer__wrapper-container {
  padding: 39px 20px  0;
  background-color: #f2f2f2;
}
.main-footer__logo {
  padding: 32px 76px;
}
.main-container__header {
  margin: 0;
  padding: 27px 41px 37px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}
.main-container__form {
  padding: 0 20px 0;
}
.main-container__wrapper {
  padding: 27px 20px 41px;
}
.main-container__title {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}
.catalog {
  padding: 20px 20px 0;
}
.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.additional-goods {
  padding: 20px 20px 0;
}
.additional-goods__title {
  padding: 0;
  margin: 0;
  padding-bottom: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #000000;
}
.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.additional-goods__name {
  padding: 0;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.additional-goods__pack {
  margin: 0;
  padding-bottom: 15px;
}
.additional-goods__price {
  margin: 0;
  padding-bottom: 15px;
}
.additional-goods__promotion {
  background-color: #68b738;
  background-image: url(../img/cat.green-2.jpg);
  background-repeat: no-repeat;
  background-size: 302px;
}
.additional-goods__promotion__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  color: #ffffff;
}
.products__item {
  padding-bottom: 25px;
}
.product__title {
  padding: 0;
  margin: 0;
}
.product__description {
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 22px;
}
.product__item-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
}
.products__title-all {
  text-align: center;
}
.products__more {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333333;
  text-align: center;
  color: #444444;
}
.button {
  min-height: 40px;
  width: auto;
  padding: 7px 44px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571429;
  display: inline-flex;
  background-color: #68b738;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.button--secondary {
  padding: 10px 94px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
}
.form__text {
  margin: 0;
  padding-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571429;
}
.form__fieldset {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.125;
  border: none;
}
.form-item {
  display: flex;
  margin-bottom: 14px;
}
.form__item__list {
  padding-bottom: 25px;
}
.form__input-text {
  padding: 13px 168px 13px 15px;
  margin-left: 12px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.form__list {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;
}
.form__legend {
  padding: 0;
  margin: 0;
  padding-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08333333;
  color: #000000;
}
.form__required-notify {
  padding: 0;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 32px;
  align-items: center;
  text-align: center;
}
.form__item {
  display: flex;
  margin-bottom: 14px;
}
.form__comments-wrapper {
  margin-bottom: 22px;
}
.form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
}
.copyright {
  display: flex;
  justify-content: space-between;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  margin-top: 22px;
  list-style-type: none;
}
.site-list__item {
  padding-bottom: 24px;
}
.site-list__link {
  text-decoration: none;
  color: #000000;
}
.social__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.slider__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */
